<div class="mt-4">
    <div class="row">
        {{#each student}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-item">
                <a href="students/{{this.name}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Lớp: {{this.class}}</h5>
                    <p class="card-text"><b>Tên:</b> {{this.name}}</p>
                    <p class="card-text"><b>Tuổi:</b>  {{this.age}}</p>
                    <a href="students/{{this.name}}" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>